* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-headding: "Epilogue", sans-serif;
  --ff-texting: "Open sans", sans-serif;
  --bg-primary: hsla(237, 22%, 20%, 1);
  --fc-primary: #ffffff;
  --fc-secondary: hsl(
    250,
    50%,
    80%
  ); /* hue, saturation, lumiance, (a)opacity */
  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-headding: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-texting: clamp(1rem, 1rem + 3vw, 4.6rem);
}
body {
  font-family: var(--ff-texting);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
}
.page {
  max-width: 33rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}
header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-headding);
  text-align: center;
  animation-name: topdown;
  animation-duration: 900ms;
}
main {
  display: grid;
  gap: 3.2rem;
  animation-name: downtop;
  animation-duration: 900ms;
}
header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
  line-height: 3.2rem;
  font-weight: 400;
}
header h1 {
  font-size: var(--fs-headding);
  line-height: 4.8rem;
  font-weight: 800;
}
.card {
  position: relative;
  font-family: var(--ff-headding);
  background-color: var(--bg-primary);
}
.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 0.6rem;
  transition: "all" 200ms;
}
.card img:hover {
  transform: scale(1.1);
  opacity: 0.8;
  filter: blur(4px);
}
.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  font-size: var(--fs-texting);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card h2 span {
  border-radius: 2rem;
  background-color: #ffffff;
  font-size: var(--fs-body);
  color: var(--bg-primary);
  padding: 0 1.6rem;
  font-weight: 400;
  height: 3.8rem;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  height: 3.8rem;
}

@media (min-width: 720px) {
  .page {
    max-width: 170rem;
    padding: 0 7rem;
  }
  main {
    grid-template-areas:
      "A B B B B "
      "C C C C D";
  }
  main div:nth-child(1) {
    grid-area: A;
  }
  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }
}
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
